*.sublime-workspace
*.pyc
*.mb
*.ma
*.obj
*.abc
*.tif
*.exr
*.mtl
*.spec
*.dll
*.pyd
*.manifest
*.toc
*.pyz
*.pk
*.nk
*.sc
*.hipnc
*.pem
workspace.mel
build/
render/
preview/
\.Trash-1000/
doc/_build/
\.idea/
*.egg*
**/debug.py